$def with (user)

        <form method="post" style="padding: 15px;">
            <label>Id</label>
            <input type="text" name="id" class="form-control" value="$user.key()" readonly><br>
            <label>Nombre</label>
            <input type="text" name="nombre" id="nombre" class="form-control" value="$user.val().get('nombre')" ><br>
            <label>Telefono</label>
            <input type="text" name="telefono" id="telefono" class="form-control" value="$user.val().get('telefono')"><br>
            <label>Correo Electronico</label>
            <input type="text" name="email" id="email"  class="form-control" value="$user.val().get('email')"><br>
            <button type="submit" value="actualizar" class="btn btn-primary" style="background-color: #9B59B6; border: #9B59B6; width: 30%;">Guardar</button>
        </form>