$def with (users)

    <table class="table">
        <thead>
            <td>Nombre</td>
            <td>Correo Electronico</td>
            <td>Telefono</td>
            <td>Actualizar</td>
        </thead>
        $for user in users:
            <tr>
                <td>$user.val().get('nombre')</td>
                <td>$user.val().get('email')</td>
                <td>$user.val().get('telefono')</td>
                <td><a href="/actualizar_usuario/$user.key()">Actualizar</a></td>
            </tr>
    </table>
